*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
/*shared style*/
.logo h2{
    font-size: 45px;
    font-weight: 900;
}
.color-orange{
    color: #FD6E0A;
}
.btn{
    background-color: #FD6E0A;
    border: none;
    border-radius: 5px;
    padding: 18px 35px;
    font-size: 20px;
    font-weight: bold;
    color: #ffffff;
    cursor: pointer;
}
.section-heading{
    max-width: 827px;
    text-align: center;
}.section-heading h2{
    font-size: 35px;
    color: #181818;
    margin-bottom: 30px;
}
.section-heading p{
    font-size: 18px;
    color: #181818;
    margin-bottom: 30px;
    line-height: 30px;
    color: #757575;
}



/*main style style*/
header{
    background:#FFF8F3;
    padding-top: 50px;
    background:url(./images/developer.png),url(./images/header_bg.png),#FFF8F3;
    background-position: top left,bottom right;
    background-repeat:no-repeat;

}
nav{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu{
    display: flex;
    align-items: center;
    gap:51px
}
nav .menu a{
    font-size:20px ;
    color: #474747;
    text-decoration: none;
}
/*Banner Start*/
#banner{
    /* border: 1px solid red; */
    margin: 47px 38px 0 230px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
#banner .banner-content{
    max-width: 585px;
    max-height: 356px;
}
#banner .banner-content h2{
    color: #474747;
    font-size: 45px;
    font-weight:600px;
    margin-bottom: 5px;

}
#banner .banner-content h1{
    color: #181818;
    font-size: 85px;
    font-weight:bold;
    margin-bottom: 20px;
}
#banner .banner-content p{
    color: #757575;
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 30px;
}

#banner .banner-img img{
    max-width: 585px;
    vertical-align: middle;

}
/* #about-section .about-continer .section-heading .about-info */
#about-section{
    padding:130px 230px ;
}
#about-section .about-continer{
    width: 71%;
    margin: 0 auto;
    max-width: 1140px;
    text-align: center;
    background-color: #FFF8F3;
    padding: 131px 156px;
}
#about-section .about-continer .about-info{
    display: flex;
    justify-content: space-around;
}
#about-section .about-continer .about-info p{
    font-size: 20px;
    color: #181818;
    line-height: 30px;
    color: #757575;
}
#about-section .about-continer .about-info h4{
    font-size: 20px;
    color: #181818;
    line-height: 30px;
    color: #757575;
}
